html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #02091C;
}

.side-menu {
    position: fixed;
    top: 100px;
    right: -300px; /* hidden off screen */
    width: 300px;
    height: 100%;
    background: #02091C;
    color: white;
    transition: right 0.3s ease;
    padding: 20px;
/*    padding-top: 120px;*/
    z-index: 100;
}

    .side-menu.open {
        right: 0; /* slides in */
        z-index: 100;
    }

    .side-menu ul {
        list-style: none;
        padding: 0;

    }

    .side-menu li {
        margin: 20px 0;
    }

    .side-menu a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
