.container, .container-fluid {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}  

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #02091C;
    color: white;
}

.side-menu {
    position: fixed;
    top: 100px;
    right: -300px; /* hidden off screen */
    width: 300px;
    height: 100%;
    background: #02091C;
    color: white;
    transition: right 0.3s ease;
    padding: 20px;
/*    padding-top: 120px;*/
    z-index: 100;
}

    .side-menu.open {
        right: 0; /* slides in */
        z-index: 100;
    }

    .side-menu ul {
        list-style: none;
        padding: 0;

    }

    .side-menu li {
        margin: 20px 0;
    }

    .side-menu a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

/* Logo + tagline row */
.logo-row {
    display: flex;
    width: 100%;
    height: 247px;
    padding-left: 100px;
}

.logo {
    width: 28%;
    background: #02091C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: black;
}

.LetterLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(1); /* zoom slightly */
}

.TextLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: scale(0.8); /* zoom slightly */
}

.tagline {
    width: 72%;
    background: #02091C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

/* Header */
.header {
    background: #01B697;
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 10000;
    position: relative;
}

.translation {
    font-size: 24px;
    color: black;
}

.menu {
    margin-left: auto;
    font-size: 24px;
    color: white;
}

.dropdown {
    margin-left: 40px;
    font-size: 20px;
    color: white;
    z-index: 10000;
}

    .dropdown:hover {
        color: #02091C;
    }

.PageIntro {
    padding: 40px 20px;
    align-content: center;
    text-align: center
}

    .PageIntro h1 {
        font-family: "ADLaM Display", cursive;
        font-size: 64px;
        margin-bottom: 20px;
    }

    .PageIntro p {
        font-size: 20px;
        max-width: 83%;
        margin: 0 auto;
    }

/* Footer */
footer {
    background: #01B697;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
}